<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laboratorio 10 - Pokédex</title>
  <meta name="description" content="Laboratorio 10: Node, Cookies y JWT">
  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/pico.min.css">
  <link rel="stylesheet" href="assets/css/types.min.css">
</head>
<body>
  <!-- Cabecera -->
  <header class="container-fluid">
    <hgroup>
      <h1>Pokédex</h1>
      <p>Gestor de Pokémon</p>
    </hgroup>
  </header>
  <!-- Contenido principal -->
  <main class="container">
    <section>
      <h2><%= title %></h2>
      <article class="pokeball-border">
        <p><%= message %></p>
        <a href="/" class="container"><button>Volver atrás</button></a>
      </article>
    </section>
  </main>
  <!-- Pie de página -->
  <footer class="container-fluid">
    <hr>
    <p>&copy; 2024. Aplicaciones Web. <em>Grado en Ingeniería Informática (Universidad de León)</em>.</p>
  </footer>
</body>
</html>